<nav class="navbar navbar-expand-lg bgnav">
    <div class="container-fluid ">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div >
            <table>
                <tr>
                    <td>
                        
                    </td>
                    <td style="width: 1500px; text-align: center;">
                        <img  src="assets/pic1.PNG">
                    </td>
                    <td>
                        <tr>
                            <td> <a href="#" class="navbar-nav nav-link decoration">Login</a> </td>
                            <td><a href="#" class="navbar-nav nav-link decoration">Register</a></td>
                        </tr>

                    </td>
                </tr>
            </table>
          
        </div>
      </div>
    </div>
  </nav>
 