
<div class=" decoration1">
    <div class="decoration3">
        Explore More
    </div>
    <ul class="nav justify-content-center" > 
      <div class="decoration2">
        <li class="nav-item">
          <a class="nav-link link" href="#">
            <div class="icon">
              <i class="fas fa-gift"></i>
            </div> 
            <div class="linktext">
              Offers</div>
          </a>
        </li>
      </div>
      <div class="decoration2">
        <li class="nav-item">
          <a class="nav-link link" href="#">
            <div class="icon">
              <i class="fas fa-umbrella"></i>
            </div> 
            <div class="linktext">
              Insurance</div>
          </a>
        </li>
      </div>
      <div class="decoration2">
        <li class="nav-item">
          <a class="nav-link link" href="#">
            <div class="icon">
              <i class="fas fa-burn"></i>
            </div> 
            <div class="linktext">
              Gas</div>
          </a>
        </li>
      </div>
      <div class="decoration2">
        <li class="nav-item">
          <a class="nav-link link" href="#">
            <div class="icon">
              <i class="fas fa-faucet"></i>
            </div> 
            <div class="linktext">
              Water</div>
          </a>
        </li>
      </div>
      <div class="decoration2">
        <li class="nav-item">
          <a class="nav-link link" href="#">
            <div class="icon">
              <i class="fas fa-tty"></i>
            </div> 
            <div class="linktext">
              Landline</div>
          </a>
        </li>
      </div>
      <div class="decoration2">
        <li class="nav-item">
          <a class="nav-link link" href="#">
            <div class="icon">
              <i class="far fa-hdd"></i>
            </div> 
            <div class="linktext">
              Data Card</div>
          </a>
        </li>
      </div>
      <div class="decoration2">
        <li class="nav-item">
          <a class="nav-link link" href="#">
            <div class="icon">
              <i class="fas fa-money-bill-wave"></i>
            </div> 
            <div class="linktext">
              Get Loan</div>
          </a>
        </li>
      </div>
      </ul>
    </div>
