<div class="decoration">
    <table >
        <tr>
            <td><b>Quick Access</b></td>
            <td><b>Help at Hand</b></td>
            <td><b>Social Connect</b></td>
        </tr>
        <tr>
            <td><a href="#">Terms and Conditions</a></td>
            <td><a href="#">Banking Points</a></td>
            <td><a href="#"><i class="fab fa-facebook"></i> Facebook</a></td>
            <td rowspan="2">Airtel customers dial 400<br>
                Other operators subscriber dial<br>
                8800688006</td>
        </tr>
        <tr>
            <td><a href="#">Charges & Fees</a></td>
            <td><a href="#">Get Help</a></td>
            <td><a href="#"><i class="fab fa-twitter"></i> Twitter</a></td>
        </tr>
        <tr>
            <td><a href="#">Policies</a></td>
            <td><a href="#">FAQs </a></td>
            <td><a href="#"><i class="fab fa-linkedin-in"></i> Linkedin</a></td>
            <td>wecare@airtelbank.com</td>
        </tr>
        <tr>
            <td><a href="#">Leadership Team</a></td>
            <td><a href="#">Complaint Analysis</a></td>
            <td> </td>
            <td rowspan="2">Tower A, Plot No-16, Udyog Vihar <br>
                Industrial Area Phase 4, Gurugram, <br>
                Haryana - 122015</td>
        </tr>
        <tr>
            <td><a href="#">Get NETC FASTag</a></td>
            <td><a href="#">Report a BBPS Issue</a></td>
        </tr>
    </table>
</div>