<div class="decoration">
<ul class="nav justify-content-center decoration1" > 
  <div class="decoration2">
    <li class="nav-item">
      <a class="nav-link link" href="#">
        <div class="icon">
          <i class="fas fa-mobile-alt"></i>
        </div> 
        <div class="linktext">
          Prepaid</div>
      </a>
    </li>
  </div>
    <div class="decoration2">
    <li class="nav-item">
      <a class="nav-link link" href="#">
        <div class="icon">
          <i class="fas fa-mobile-alt"></i>
        </div> 
        <div class="linktext">
          Postpaid</div>
      </a>
    </li>
  </div>
  <div class="decoration2">
    <li class="nav-item">
      <a class="nav-link link" href="#">
        <div class="icon">
          <i class="fas fa-car"></i>
        </div> 
        <div class="linktext">
          NETC FASTag</div>
      </a>
    </li>
  </div>
  <div class="decoration2">
    <li class="nav-item">
      <a class="nav-link link" href="#">
        <div class="icon">
          <i class="fas fa-tv"></i>
        </div> 
        <div class="linktext">
          DTH</div>
      </a>
    </li>
  </div>
  <div class="decoration2">
    <li class="nav-item">
      <a class="nav-link link" href="#">
        <div class="icon">
          <i class="fas fa-broadcast-tower"></i>
        </div> 
        <div class="linktext">
          Broadband</div>
      </a>
    </li>
  </div>
  <div class="decoration2">
    <li class="nav-item">
      <a class="nav-link link" href="#">
        <div class="icon">
          <i class="far fa-lightbulb"></i>
        </div> 
        <div class="linktext">
          Electricity Bill</div>
      </a>
    </li>
  </div>
  <div class="decoration2">
    <li class="nav-item">
      <a class="nav-link link" href="#">
        <div class="icon">
          <i class="fas fa-wallet"></i>
        </div> 
        <div class="linktext">
          Send Money</div>
      </a>
    </li>
  </div>
  <div class="decoration2">
    <li class="nav-item">
      <a class="nav-link link" href="#">
        <div class="icon">
          <i class="fas fa-wallet"></i>
        </div> 
        <div class="linktext">
          Add Money</div>
      </a>
    </li>
  </div>
  </ul>
</div>